/* Standard CSS */
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-image: url("../img/bg.png");
}

body {
  padding-top: 30px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

/* Retina overrides */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  body {
    background-image: url("../img/bg@2X.png");
    -webkit-background-size: 200px 200px;
    -moz-background-size: 200px 200px;
    background-size: 200px 200px;
  }

}
