.well
  h1 #{message}
  p ^ This message is from the server

.row-fluid
  .well.span4
    h2 Test
    p Testing

  .well.span4
    h2 Test
    p Testing

  .well.span4
    h2 Test
    p Testing

.row-fluid
  .well.span4
    h2 Test
    p Testing

  .well.span4
    h2 Test
    p Testing

  .well.span4
    h2 Test
    p Testing